[submodule "dependencies/FABatching"]
	path = dependencies/FABatching
	url = git://github.com/fjolnir/FABatching.git
[submodule "dependencies/iphone-openssl"]
	path = dependencies/iphone-openssl
	url = https://github.com/fjolnir/OpenSSL-for-iPhone.git
